html {
    cursor: none;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: antiquewhite;
    height: 100%;
}

.box {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 700px;
    width: 800px;
    text-align: center;
}

#button-container {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

button {
    width: 60px;
    height: 60px;
    font-size: 18px;
    cursor: none;
}

button.active {
    background-image: url(mole.png);
}

#startButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: none;
    background-color: green;
    border: none;
}

.game-button {
    background-image: url(hole.png);
    border: none;
}

.follower {
    position: fixed;
    width: 60px;
    height: 60px;
    background-image: url(mallet.png); /* Replace with your image URL */
    background-size: cover;
    border-radius: 50%;
    pointer-events: none; /* Make sure the image doesn't block mouse events */
}